@import 'vars';
@import 'fonts';

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    background: radial-gradient(50% 50% at 50% 50%, #131313 0%, #060606 100%);
    font-family: 'Comfortaa-Regular', 'Arial', 'sans-serif';
    font-weight: 400;
}

.container{
    padding: 0 60px;
}

@media(min-width: 1920px){
    .container{
        padding-top: -4px;
        padding-left: 45px;
        padding-right: 75px;
    }
}

.header{
    background-color: $accent;
    &_inner{
        min-height: 114px;
        left: 60px;
        top: 9px;
    }
}

@media(min-width: 1920px){
    .header{
        background-color: $accent;
        &_inner{
            min-height: 109px;
            max-width: 1800px;
            top: -4px;
            left: 45px;
            right: 75px;
        }
    }
}

.logo_link-svg{
    margin-left: 0px;
    position: absolute;
    width: 58.89px;
    height: 58.89px;
    left: 60px;
    top: 9px;
}

@media(min-width: 1920px){
    .logo_link-svg{
        margin-left: 1567px;
        position: absolute;
        width: 106.86px;
        height: 106.86px;
        top: 0px;
        right: 102px;    
    }
}

.t1{
    position: absolute;
    width: 55.11px;
    height: 24.31px;
    left: 118.89px;
    top: 30.07px;
    
    font-family: Comfortaa-Light;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    
    color: #fff;
}

@media(min-width: 1920px){
    .t1{
        position: absolute;
        left: 1735px;
        top: 39px;
        bottom: 25px;
        
        font-family: Comfortaa-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        
        color: #fff;
    }
}

.menu{
    position: absolute;
    width: 222px;
    height: 41px;
    left: 96px;
    top: 82px;
}

@media(min-width: 1920px){
    .menu{
        position: absolute;
        width: 783px;
        height: 37px;
        left: 553px;
        top: 39px;        
    }
}

.active{
    top: 0px;
    left: 2px;
    width: 45px; 
    position: absolute;
    font-family: Comfortaa-Regular;
    font-weight: Regular;
    font-size: 10px;  
    opacity: 1;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

@media(min-width: 1920px){
    .active{
        top: 0px;
        left: 28px;
        width: 89px;
        position: absolute;
        font-family: Comfortaa-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: left;
        color: #fff;
        text-decoration: none;        
    }
}

.ourdogs{
    width: 73px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 76px;
    font-family: Comfortaa-Regular;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}

@media(min-width: 1920px){
    .ourdogs{
        width: 146px;
        color: #fff;
        position: absolute;
        top: 1px;
        left: 190px;
        font-family: Comfortaa-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
}

.puppies{
    width: 37px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 185px;
    font-family: Comfortaa-Regular;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}

@media(min-width: 1920px){
    .puppies{
        width: 73px;
        color: #fff;
        position: absolute;
        top: 0px;
        left: 409px;
        font-family: Comfortaa-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
}

.aboutus{
    width: 32px;
    color: #fff;
    position: absolute;
    top: 29px;
    left: 43px;
    font-family: Comfortaa-Regular;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}

@media(min-width: 1920px){
    .aboutus{
        width: 64px;
        color: #fff;
        position: absolute;
        top: 0px;
        left: 555px;
        font-family: Comfortaa-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
}

.help{
    width: 46px;
    color: #fff;
    position: absolute;
    top: 29px;
    left: 137px;
    font-family: Comfortaa-Regular;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}

@media(min-width: 1920px){
    .help{
        width: 91px;
        color: #fff;
        top: 0px;
        left: 692px;
        position: absolute;
        font-family: Comfortaa-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        opacity: 1;
        text-align: left;
        text-decoration: none;
    }
}

.line{
    position: absolute;
    width: 50px;
    height: 1px;
    background: linear-gradient(90.29deg, #5B62FF -7.35%, #62AAFF 102.16%);
    opacity: 1;
    top: 18px;
    left: 0px;
    overflow: hidden;
}

@media(min-width: 1920px){
    .line{
        position: absolute;
        width: 146px;
        height: 2px;
        left: 0px;
        top: 35px;
        background: linear-gradient(90.29deg, #5B62FF -7.35%, #62AAFF 102.16%);
        opacity: 1;
        overflow: hidden;
    }
}

.number{
    position: absolute;
    width: 94px;
    height: 12px;
    left: 252px;
    top: 34px;
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    color: #fff;   
}

@media(min-width: 1920px){
    .number{
        position: absolute;
        width: 235px;
        height: 28px;
        left: 54px;
        top: 41px;
        font-family: Comfortaa-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 28px;
        color: #FFFFFF;
    }
}